*{
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #040404;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

canvas{
    border: 4px solid #690909;
    border-radius: 20px;
    margin-top: 30px;
}

#container{
    display: inline-block;
    position: relative;
}

.flash{
    top: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 20px;
    background-color: #111111;
    opacity: 1;
    position: absolute;
    pointer-events: none;
    z-index: 200;
}

.atacks, .inventario,.mensaje{
    position: absolute;
    opacity: 0;
    bottom: 4px;
    left: 4px;
    right: 4px;
    height: 30%;
    border-radius: 0 0 20px 20px;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    overflow: hidden;
}


.off{
   display : none;
}


.inventario{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    opacity: 0;
}

.inventario > button{
    background-image: url("./assets/Inventario-elemento.png");
    background-repeat: no-repeat;
    background-size: 220px 190px;
    background-position-x: 40% ;
    text-align: center;
    cursor: pointer;
}

.aparecer{
    z-index: 99;
}
.aparecer2{
    z-index: 59;
}        

.salir{
    grid-column: 5/6;
}


.atacks > button{
    width: 30%;
    background-image: url("./assets/Inventario-elemen.png");
    background-repeat: no-repeat;
    background-size: 370px 200px;
    background-position-x: 45% ;
    background-position-y: 50% ;
    cursor: pointer;
}

.attacks-container{
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.attacks-container > button{
    width: 260px;
    height: 100px;
    background-image: url('./assets/gui-element.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 70px;
    margin-bottom: -15px;
    cursor: pointer;
}



button{
    border: none;
    background-color: transparent;
}



.nickname{
    display: inline-block;
    position: absolute;
    top: 90px;
    left: 60px;
    font-size: 16px;
}

.nickname-enemy{
    display: inline-block;
    position: absolute;
    top: 90px;
    right: 105px;
    font-size: 16px;
}

#playerBar{
    height: 20px;
    width: 300px;
    position: absolute;
    top: 110px;
    left: 60px;
    background-color: #0f0;
}

#EnemyBar{
    height: 20px;
    position: absolute;
    top: 110px;
    right: 105px;
    background-color: #f00;
}

.life{
    opacity: 0;
}

.mensaje{
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top: 4px solid #690909 ;
   text-align: center;
}

.mensaje-Npc{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    bottom: 0px;
    width: 100%;
    height: 150px;
    align-items: center;
    background-color: #fff;
    border-top: 4px solid #690909 ;
    border-radius: 0 0 20px 20px;
    z-index: 888;
}

.mensaje-Npc > button{
    align-self: flex-end;
    cursor: pointer;
    align-items: center;
}

.mensaje-Npc  i{
    font-size: 20px;
}

.audio{
    display: flex;
    position: absolute;
    top: 110px;
    left: 42%;
}

.audio > button{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.audio > button:nth-child(1){
    background-image: url('./assets/audio/play.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.audio > button:nth-child(2){
    background-image: url('./assets/audio/pausa.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.audio > button:nth-child(3){
    background-image: url('./assets/audio/play.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.audio > button:nth-child(4){
    background-image: url('./assets/audio/pausa.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.audio > button:hover{
    box-shadow: none;
}

#menu-principal{
    border-radius: 20px;
    background-image: url("./assets/Fonfo-menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}

.menu-contenedor{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 40%;
    height: 40%;
    font-size: 20px;
}

.menu-contenedor > button{
    margin-top: 30px;
    width: 80%;
    border-radius: 10px;
    height: 60px;
    background-color: #111111;
}

#jugador-stats{
    top: 5%;
    overflow: hidden;
    width: 270px;
    height: 120px;
    position: absolute;
    background-image: url('./assets/Personaje-stats.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.coins-container{
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bolder;
    width: 140px;
    height: 70px;
    position: absolute;
    right: 0;
}

.life-map{
    top: 20px;
    left: 95px;
    position: absolute;
    width: 200px;
    height: 14px;
    background-color: #0f0;
}

.avatar{
    width: 80px;
    height: 80px;
    background-image: url('./assets/avatar.jpg');
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 20px;
    left: 16px;
}


.boton-inventario-mapa{
    position: absolute;
    left: 7px;
    top: 130px;
    width: 50px;
    height: 50px;
    background-image: url("./assets/Boton-de-inventario.png");
    background-size: cover;
    cursor: pointer;
    padding: 15px;
}

.inventario-mapa{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 20px ;
    top: 20%;
    right: 25%;
    width: 500px;
    height: 400px;
    background-image: url("./assets/Inventario-para-mapa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pociones-contenedor{
    width: 400px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
}

.pociones-contenedor>div, .pociones-a-usar > div{
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: center;
    cursor: pointer;
}

.pociones-contenedor>div > div, .pociones-a-usar > div > div{
    background-color: #fff;
    display: inline;
    padding: 5px;
    border-radius: 100px;
}

.pociones-a-usar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    align-self: flex-start;
    margin-top: 35px;
    margin-left: 5px;
    height: 75%;
    width: 70px;
}




.indicador{
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 30%;
    left: 35%;
    animation: flasher 5s infinite ;
}

.indicador > img{
    width: 38px;
    height: auto;
}

@keyframes flasher {
    35%{
        opacity: 0.5;
        transform: scale(0.8);
    }

}

.inventario-vendedor{
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 20px ;
    top: 20%;
    right: 25%;
    width: 500px;
    height: 400px;
    background-image: url("./assets/Inventario-para-mapa.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.inventario-vendedor > button {
    width: 50px;
    height: 50px;
    background-image: url('./assets/Cerrar.png');
    background-size: cover;
    position: absolute;
    top: 0;
    right: 60px;
    cursor: pointer;
}

.pociones-contenedor-vendedor{
    width: 400px;
    height: 320px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);
}

.pociones-contenedor-vendedor>img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.datos-de-la-pocion{
    width: 230px;
    height: 300px;
    position: absolute;
    top: 155px;
    right: 20px;
    background-image: url('./assets/Datos-de-pocion.png');
    background-size: cover;
    display: flex;
}

.datos{
    width: 80%;
    height: 85%;
    margin-top: 30px;
    margin-left: 27px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5,1fr);
    font-size: 12px;
    padding: 5px;
}

.datos > button{
    background-color: #f3953dbe;
    width: 120px;
    border-radius: 10px;
    justify-self: center;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

.datos  input{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    background: transparent;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]:focus{
    outline: none;
    border: none;
}


.datos > span{
    display: flex;
    align-items: center;
}

.datos img{
    width: 30px;
    height: 30px;
}



.next-level{
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    left: 35%;
    top: 30%;
    display: flex;
    flex-flow: column;
    align-items: center;
    animation: flasher 5s infinite;
}

.next-level > img{
    width: 45px;
}

.next-level > span{
    color: #0f0;
    
}


@keyframes flasher {
    35%{
        opacity: 0.5;
        transform: scale(0.8);
    }

}

.nombre-npc{
    position: absolute;
    top: 5px;
}

.off{
    display: none;
}